[submodule "googletest"]
	path = gtest
	url = git@github.com:google/googletest.git
[submodule "dependencies/image_captioning"]
	path = dependencies/image_captioning
	url = git@github.com:GustavHager/image_captioning.git
